################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOM.UnitOfWorkSln/.vs/AOM.UnitOfWorkSln/v16/.suo
/AOM.UnitOfWorkSln/AOM.UnitOfWorkSln.API/bin/Debug/netcoreapp3.1
/AOM.UnitOfWorkSln/AOM.UnitOfWorkSln.API/obj
