################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOM.UnitOfWorkSln/.vs/AOM.UnitOfWorkSln/v16/.suo
